

# dependencies
node_modules/

# pnpm store (important)
.pnpm-store/

# build outputs
dist/
build/

# environment variables
.env
.env.*

# logs
*.log

# coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
# Prisma
/prisma/*.db
/prisma/*.db-journal
# Security: Never commit private RSA keys
keys/private.key